h1{
    color: aqua;
    text-align: center;
}
h2{
    color: rgb(211, 94, 26);
    text-align: center;
}
h3{
    color: rgb(10, 29, 202);
    text-align: center;
}
h4{
    color: rgb(228, 74, 174);
    text-align: center;
}
h5{
    color: rgb(213, 232, 84);
    text-align: center;
}